pandas
numpy
matplotlib
seaborn
streamlit
boto3
opencv-python
ultralytics
flask
flask-cors
easyocr
mypy
pytest
flake8
tox
awscli==1.32.25
black
pyYAML
python-box
joblib
ipykernel
dvc
scikit-learn
mlflow
-e .